In [1]:
import pandas as pd# import pandas
data1=pd.read_csv("data1.csv")# read data set

In [2]:
data1.head()# have a look top 5 rows

    ACCIDENT_NO SEX  AGE  INJ_LEVEL  Inj Level Desc Road User Type Desc  road
0  T20060000201   M   14          2  Serious injury          Bicyclists   NaN
1  T20060000202   M   42          3    Other injury          Bicyclists   NaN
2  T20060000213   M   20          3    Other injury          Bicyclists   NaN
3  T20060000286   M   29          2  Serious injury          Bicyclists   NaN
4  T20060000337   M   36          3    Other injury          Bicyclists   NaN

In [3]:
ACCIDENT_NO=[]# append data into list
for i in data1["ACCIDENT_NO"]:
    ACCIDENT_NO.append(i)
len(ACCIDENT_NO)

18733

## if a car has a accident with 2 bicycles, it will be recorded twice. therefore delete duplicate data.

In [4]:
data1[data1.duplicated('ACCIDENT_NO')==True]# delete duplicate data

,ACCIDENT_NO,SEX,AGE,INJ_LEVEL,Inj Level Desc,Road User Type Desc,road
30,T20060001633,F,12,3,Other injury,Bicyclists,NaN
112,T20060004608,M,52,3,Other injury,Bicyclists,NaN
113,T20060004608,M,43,3,Other injury,Bicyclists,NaN
114,T20060004608,M,51,3,Other injury,Bicyclists,NaN
126,T20060005169,M,49,2,Serious injury,Bicyclists,NaN
200,T20060007675,M,50,2,Serious injury,Bicyclists,NaN
201,T20060007675,M,54,2,Serious injury,Bicyclists,NaN
256,T20060010046,M,10,3,Other injury,Bicyclists,NaN
336,T20060013667,M,39,2,Serious injury,Bicyclists,NaN
364,T20060015815,M,37,4,Not injured,Bicyclists,NaN
456,T20060021751,M,48,3,Other injury,Bicyclists,NaN
466,T20060022335,M,64,3,Other injury,Bicyclists,NaN
467,T20060022335,M,59,3,Other injury,Bicyclists,NaN
517,T20060024095,M,52,3,Other injury,Bicyclists,NaN
539,T20060024986,M,50,2,Serious injury,Bicyclists,NaN
542,T20060025422,M,27,2,Serious injury,Bicyclists,NaN
543,T20060025422,M,17,3,Other injury,Bicyclists,NaN
544,T20060025422,M,23,3,Other injury,Bicyclists,NaN
567,T20060026690,M,36,4,Not injured,Bicyclists,NaN
587,T20060027233,M,41,3,Other injury,Bicyclists,NaN
664,T20060029921,M,23,4,Not injured,Bicyclists,NaN
716,T20060032695,M,35,4,Not injured,Bicyclists,NaN
803,T20060035540,M,13,3,Other injury,Bicyclists,NaN
894,T20060038671,M,48,3,Other injury,Bicyclists,NaN
922,T20060039483,M,49,2,Serious injury,Bicyclists,NaN
923,T20060039483,M,48,2,Serious injury,Bicyclists,NaN
924,T20060039483,M,38,2,Serious injury,Bicyclists,NaN
1026,T20060043683,M,45,3,Other injury,Bicyclists,NaN
1054,T20060044583,M,33,3,Other injury,Bicyclists,NaN
1084,T20060045751,M,27,4,Not injured,Bicyclists,NaN
...,...,...,...,...,...,...,...
17813,T20180017499,M,31,3,Other injury,Bicyclists,NaN
17814,T20180017499,M,51,4,Not injured,Bicyclists,NaN
17815,T20180017499,M,35,4,Not injured,Bicyclists,NaN
17823,T20180017606,M,57,3,Other injury,Bicyclists,NaN
17844,T20180018272,M,15,3,Other injury,Bicyclists,NaN
17864,T20180018768,M,75,3,Other injury,Bicyclists,NaN
17865,T20180018768,M,57,3,Other injury,Bicyclists,NaN
17866,T20180018768,M,60,3,Other injury,Bicyclists,NaN
17867,T20180018768,M,55,3,Other injury,Bicyclists,NaN
18078,T20180023001,F,35,4,Not injured,Bicyclists,NaN
18140,T20190000003,F,5,3,Other injury,Bicyclists,NaN
18207,T20190001656,M,41,3,Other injury,Bicyclists,NaN
18208,T20190001656,M,14,4,Not injured,Bicyclists,NaN
18224,T20190002003,F,31,3,Other injury,Bicyclists,NaN
18225,T20190002003,F,52,3,Other injury,Bicyclists,NaN
18289,T20190003255,F,32,4,Not injured,Bicyclists,NaN
18290,T20190003255,F,41,4,Not injured,Bicyclists,NaN
18291,T20190003255,M,32,4,Not injured,Bicyclists,NaN
18338,T20190004041,M,68,3,Other injury,Bicyclists,NaN
18356,T20190004404,M,28,4,Not injured,Bicyclists,NaN
18417,T20190005308,M,58,3,Other injury,Bicyclists,NaN
18535,T20190007489,M,62,2,Serious injury,Bicyclists,NaN
18579,T20190008559,M,51,3,Other injury,Bicyclists,NaN
18583,T20190008611,M,33,4,Not injured,Bicyclists,NaN
18599,T20190008876,M,44,3,Other injury,Bicyclists,NaN
18600,T20190008876,F,36,3,Other injury,Bicyclists,NaN
18601,T20190008876,M,47,4,Not injured,Bicyclists,NaN
18602,T20190008876,M,58,4,Not injured,Bicyclists,NaN
18603,T20190008876,F,28,4,Not injured,Bicyclists,NaN
18668,T20190010776,M,61,2,Serious injury,Bicyclists,NaN

In [5]:
data2=pd.read_csv("data2.csv")# read other data

In [6]:
data2.head()#have a look top 5 rows

    ACCIDENT_NO  NODE_ID  ROAD_ROUTE_1   ROAD_NAME    ROAD_NAME_INT
0  T20060000010    43078        2090.0      FOSTER           MCCRAE
1  T20060000018    29720        5057.0      HALLAM  BELGRAVE-HALLAM
2  T20060000022   203074        9999.0      BROWNS         TRUEMANS
3  T20060000023    55462        2400.0  SPRINGVALE      KEYSBOROUGH
4  T20060000026   202988        9999.0   ELIZABETH        GREENHOOD

## there are 2 data sets. 
### 1. record all accident discription
### 2. record type of vehicles
### both 1 2 have accident id. 
### use 2 accident id which represent bicycle to find accident discription in 1.

In [35]:
road=[]
Id=[]
for i in range (len(data2)):# ude bicycle accident id to find bicycle discription
    if data2["ACCIDENT_NO"][i] in ACCIDENT_NO:
        road.append(data2["ROAD_NAME_INT"][i])
        Id.append(data2["ACCIDENT_NO"][i])

len(Id)#check lenth

18301

In [36]:
len(road)# check lenth

18301

In [37]:
len(set(road))

4917

In [46]:
x=[]
for i in road:
    if i == "VICTORIA":
        x.append(i)
len(x)

221

## use road name to find latitude and longitude

In [1]:
#study from https://www.programcreek.com/python/example/108180/geopy.geocoders.Nominatim
from geopy.geocoders import Nominatim
longitude=[]
latitude=[]
gps = Nominatim()
for i in road:

    
    location = gps.geocode(i)
    longitude.append(location.longitude)
    latitude.append(location.latitude)

### check whether miss data

In [9]:
mis=[]
for i in range (len(data1["ACCIDENT_NO"])):
    if data1["ACCIDENT_NO"][i] not in Id:
        mis.append(data1["ACCIDENT_NO"][i])
len(mis)

0

In [33]:
data1.to_csv("dataclean.csv",index=False)# write data to csv